apiVersion: v1
kind: Service
metadata:
  namespace: project
  name: frontend-service
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080