apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      containers:
        - name: generator
          image: kekalainen/uh-devops-with-kubernetes:1.10-generator
          volumeMounts:
            - name: data-volume
              mountPath: /usr/src/app/data
        - name: server
          image: kekalainen/uh-devops-with-kubernetes:1.11-server
          volumeMounts:
            - name: data-volume
              mountPath: /usr/src/app/data
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: hashgenerator-persistent-volume-claim