apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-server
  template:
    metadata:
      labels:
        app: web-server
    spec:
      containers:
        - name: web-server
          image: kekalainen/uh-devops-with-kubernetes:1.13
          volumeMounts:
          - name: data-volume
            mountPath: /usr/src/app/data
      volumes:
        - name: data-volume
          emptyDir: {}